@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "About Me";

}


<section class="content-container">

    <nav class="current-route container-fluid sticky-top border border-info text-start text-info">
        <a href="@Url.Action("Index", "Home")" class="text-decoration-underline text-info">Home</a>
        / <a class="text-decoration-none text-info">About Me</a>
    </nav>

    <div class="aboutme-container">

        <h2 class="page-title">@ViewData["Title"]</h2>

        <p>This is About Me page</p>

    </div>

</section>

