@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "Experience";
}

<section class="content-container">

    <nav class="current-route container-fluid sticky-top border border-info text-start text-info">
        <a href="@Url.Action("Index", "Home")" class="text-decoration-underline text-info">Home</a>
        / <a class="text-decoration-none text-info">Experience</a>
    </nav>

    <div>

        <h2 class="page-title">@ViewData["Title"]</h2>

        <div class="border border-info p-2 text-start">
            <h6>
                <span class="job-title">Robotics Specialist

                <br />
                
                Techfactors Inc.
                </span>
                <br />

                <time datetime="04-2024">February 2024</time> 
                -
                <time>Present</time>
            </h6>
             <details>
                 <summary>Job Responsibility</summary>

                 <ul class="job-responsibility">
                    <li>
                        Execute Robotics Curriculum Training Program for the clients of the company
                    </li>
                    <li>
                        Actively engage in continuous learning and practice of robotics concepts for grade school to high school
                    </li>
                    <li>
                        Provide support for company and client events related to robotics, ensuring smooth operation and customer satisfaction.
                    </li>
                    <li>
                        Manage inventory of robotics kits, including forecasting and preparing requested kits.
                    </li>
                    <li>
                        Handle Robotics Kits Request Form
                    </li>
                 </ul>
             </details>
             
        </div>

    </div>

</section>



