@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="content-container">

    <nav class="current-route container-fluid sticky-top border border-info text-start text-info">
        <a href="@Url.Action("Index", "Home")" class="text-decoration-underline text-info">Home</a>
        / <a class="text-decoration-none text-info">Privacy Policy</a>
    </nav>

    <div class="privacy-policy-container text-break text-start container-fluid border border-info">

        <h2 class="page-title">@ViewData["Title"]</h2>

        <h6>
            <b>
                Privacy Policy for Marlou Jake Napoli's Personal Web Portfolio
                <br />
                Effective Date: <time datetime="2024-07-15">July 15, 2024</time>
            </b>
        </h6>

        <p>
            Thank you for visiting Marlou Jake Napoli's Personal Web Portfolio.
            Your privacy is important to us.
            This privacy policy outlines the types of personal information that is received and collected by this website and how it is used.
        </p>

        <h6>
            <b>
                Information Collected
            </b>
        </h6>
        <ul class="privacy-policy-list">
            <li>
                <p>
                    <b>Log Files:</b> Like many other websites, Marlou Jake Napoli's Personal Web Portfolio makes use of log files.
                    The information inside the log files includes internet protocol (IP) addresses, type of browser,
                    Internet Service Provider (ISP), date/time stamp, referring/exit pages, and number of clicks to analyze trends,
                    administer the site, track user's movement around the site, and gather demographic information.
                    IP addresses and other such information are not linked to any information that is personally identifiable.
                </p>
            </li>

            <li>
                <p>
                    <b>Cookies:</b> This website may use cookies to store information about visitors' preferences,
                    to record user-specific information on which pages the user accesses or visits,
                    and to personalize or customize our web page content based upon visitors'
                    browser type or other information that the visitor sends via their browser.
                </p>
            </li>
        </ul>

        <h6>
            <b>
                How We Use Your Information
            </b>
        </h6>

        <ul class="privacy-policy-list">
            <li>
                <p>
                    <b>Personal Information:</b> Marlou Jake Napoli's Personal Web Portfolio does not collect any personally identifiable information
                    about you unless you voluntarily provide it.
                    Any information you provide will be used solely to respond to your inquiries and to fulfill your requests.
                </p>
            </li>

            <li>
                <p>
                    <b>Aggregate Information:</b> We may use non-identifying and aggregate information to better design our website and to share with advertisers.
                    For example, we may tell an advertiser that X number of individuals visited a certain area on our website,
                    or that Y number of men and Z number of women filled out our registration form,
                    but we would not disclose anything that could be used to identify those individuals.
                </p>
            </li>
        </ul>
        <h6>
            <b>
                Third-Party Use of Information
            </b>
        </h6>

        <p>
            We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information.
            This does not include trusted third parties who assist us in operating our website, conducting our business,
            or servicing you, so long as those parties agree to keep this information confidential.
        </p>

        <h6>
            <b>
                Security
            </b>
        </h6>

        <p>
            We implement a variety of security measures to maintain the safety of your personal information when you enter,
            submit, or access your personal information.
        </p>

        <h6>
            <b>
                Consent
            </b>
        </h6>

        <p>
            By using our website, you consent to our website's privacy policy.
        </p>

        <h6>
            <b>
                Changes to Our Privacy Policy
            </b>
        </h6>

        <p>
            If we decide to change our privacy policy, we will post those changes on this page.
            <br />
            If you have any questions regarding this privacy policy or the practices of this website,
            please contact us at this
            <a class="text-info" href="mailto:napoli.marloujake@gmail.com">email</a>.
        </p>

    </div>

</section>



