@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Skills";
}

<section class="content-container skills-container">

    <nav class="current-route container-fluid sticky-top border border-info text-start text-info">
        <a href="@Url.Action("Index", "Home")" class="text-decoration-underline text-info">Home</a>
        / <a class="text-decoration-none text-info">Skills</a>
    </nav>

    <h2 class="page-title">@ViewData["Title"]</h2>

    <div class="container-fluid  d-inline text-center">
        <h6>
            Programming Language
        </h6>
        <div class="container-fluid">
            <img class="mt-2 p-1 bg-light" src="~/images/programming_language/html.svg" width="60px" height="60px" title="HTML alt="HTML Logo" style="object-fit: cover;" />
            <img class="mt-2 p-1 bg-light" src="~/images/programming_language/css.svg" width="60px" height="auto" title="CSS" alt="CSS Logo" style="object-fit: cover;" />
            <img class="mt-2 p-1 bg-light" src="~/images/programming_language/JS.svg" width="60px" height="60px" title="JavaScript" alt="JavaScript Logo" style="object-fit: cover;" />
            <img class="mt-2 p-1 bg-light" src="~/images/programming_language/boostrap.svg" width="60px" height="60px" title="Boostrap" alt="Boostrap Logo" style="object-fit: cover;" />
            <img class="mt-2 p-1 bg-light" src="~/images/programming_language/CPlusPlus.svg" width="60px" height="60px" title="C++" alt="C++ Logo" style="object-fit: cover;" />
            <img class="mt-2 p-1 bg-light" src="~/images/programming_language/CSharp.svg" width="60px" height="60px" title="C#" alt="CSharp Logo" style="object-fit: cover;" />
            <img class="mt-2 p-1 bg-light" src="~/images/programming_language/VB.NET_Logo.svg" width="60px" height="60px" title="Visual Basic" alt="Visual Basic Logo" style="object-fit: cover;" />
            <img class="mt-2 p-1 bg-light" src="~/images/programming_language/mysql.svg" width="60px" height="60px" title="MySQL" alt="MySQL Logo" style="object-fit: cover;" />
            <img class="mt-2 p-1 bg-light" src="~/images/programming_language/Python.svg" width="60px" height="60px" title="Python" alt="Python Logo" style="object-fit: cover;" />
        </div>

    </div>

    <div class="container-fluid text-center d-inline-flex flex-column align-items-center">

        <h6>
            Software
        </h6>
        
        <div class="software-container">

            <img class="mt-2 p-1 bg-light" src="~/images/vs_logo.png" width="60px" height="auto" title="Visual Studio 2022" alt="Visual Studio 2022" />
            <img class="mt-2 p-1 bg-light" src="~/images/visual_studio_code.png" width="60px" height="auto" title="Visual Studio Code" alt="Visual Studio Code" />
            <img class="mt-2 p-1 bg-light" src="~/images/PyCharm_Icon.svg" width="60px" height="auto" title="PyCharm" alt="PyCharm" />
            <img class="mt-2 p-1 bg-light" src="~/images/github_desktop.ico" width="60px" height="auto" title="GitHub Desktop" alt="GitHub Desktop" />
            <img class="mt-2 p-1 bg-light" src="~/images/Word_40x40.svg" width="60px" height="auto" title="Microsoft Word" alt="Microsoft Word" />
            <img class="mt-2 p-1 bg-light" src="~/images/PowerPoint_40x40.svg" width="60px" height="auto" title="Microsoft PowerPoint" alt="Microsoft PowerPoint" />
            <img class="mt-2 p-1 bg-light" src="~/images/Excel_40x40.svg" width="60px" height="auto" title="Microsoft Excel" alt="Microsoft Excel" />
            <img class="mt-2 p-1 bg-light" src="~/images/Outlook_40x40.svg" width="60px" height="auto" title="Microsoft Outlook" alt="Microsoft Outlook" />
            <img class="mt-2 p-1 bg-light" src="~/images/Microsoft Teams_40x40.svg" width="60px" height="auto" title="Microsoft Teams" alt="Microsoft Teams" />
        
        </div>
       

    </div>
   
</section>

